*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}

header div{
    padding: 0;
}

.searchContainer{
    flex-wrap: nowrap;
}

.principalContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.imageUser{
    width: 10%;
}